h1 {
    color: red;
    border: 0.625em ridge cyan;
    width: 43.75em;
    text-align: center;
    margin: auto;
    }

body {
    background-color: rgb(185, 238, 185);
    }


#nameislam {
    font-style: italic;
    color: red;
    text-shadow: 0.0625em 0.0625em;
    }
.names li::first-letter{
    color: white;
}
.namesam {
    font-weight: bold;
    color: rgb(156, 44, 0);
    text-shadow: 0.03125em 0.03125em;
    font-family: "Chee Bleed";
    }
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2, h3 {
    border: 5px dashed white;
    color: darkgreen;
    text-align: center;
    width: 15.625em;
    margin: auto;
    }

#con {
    color: darkmagenta;
    font-family: cursive;
    }


    
.banner {
    background-image: url('logo.png');
    width: 100%;
    height: 9.375rem;
    text-align: center;
    font-size: xx-large;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
selector::pseudo-class {
    property: value;
    }

#deadline {
    color: rgb(238, 28, 28)
}

#gr {
    border: 30px solid transparent;
    border-image: url(https://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/border.png) 30 30 round; 
}

.contacts {
    width: 50%;
    float: left;
}

.categories {
    width: 25%;
    float: left;
}

.quick_links {
    width: 25%;
    float: left;
}
[href] {text-decoration: none ; font-style: italic; } 
  a:link {color: rgb(2, 167, 2);}
  a:hover {background-color:antiquewhite; color: white;}
  a:visited {color:rgb(33, 12, 218);}
  a:active {color: red;}

  .grid-container {
      display: grid;
      grid-template-areas:
      'task task task task task task task task task task task task'
      'requirments requirments requirments requirments requirments requirments requirments requirments requirments'
      'submission submission submission grading grading grading';
      gap: 1em;
      background-color: peru;
      padding: 00.53em;
      
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 00.53em 0;
    font-size: 1em;
    
  }

  .flex-container {
    display: flex;
    background-color: cyan;
  }
  
  .flex-container > div {
    background-color:  rgba(255, 255, 255, 0.8);
    margin: 0.625em;
    padding: 1.25em;
    font-size: 1.25em;
  }



  .first {
    order: 2;
    background-color: cyan;
    width: 100%;
  }
  
  .second {
    order: 1;
    background-color: cyan;
    width: 100%;
  }
  
  .third {
    order: 3;
    background-color: cyan;
    width: 100%;
  }
  

   
@media screen and (max-width: 20em) {
    .first {
      order: 1;
      width: 50%;
    }
    .second {
      order: 2;
      width: 50%;
    }
    .third {
      order: 3;
      width: 50%;
    }
    .flex-container {
      display: flow-root;
    }
    .photo {
        width: 100%;
        height: 100%;
    }
    .grid-container{
        background-color: blue;
        display: flow-root;
    }
    body {
        font-size: 00.53em;
        background-color: white;
    }

}


@media screen and (min-width: 21em) and (max-width: 69.9375em) {
  .first {
    order: 1;
    width: 75%;
  }
  .second {
    order: 2;
    width: 75%;
  }
  .third {
    order: 3;
    width: 75%;
  }
  .flex-container {
    display: flow-root;
  }
  .photo {
    width: 100%;
    height: 100%;
  }
  .grid-container{
      background-color: red;
      display: flow-root;
  }
  body {
      font-size: 00.73em;
      background-color: lemonchiffon;
  }

}

body
  {
    margin: 0;
    padding: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
  }
  
  #menuToggle
  {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a
  {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover
  {
    color: tomato;
  }
  
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; 
    z-index: 2; 
    
    -webkit-touch-callout: none;
  }
  
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
 
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }