h1 {
    color: red;
    border: 10px ridge cyan;
    width: 700px;
    text-align: center;
    margin: auto;
    }

body {
    background-color: rgb(185, 238, 185);
    }

.names li{
    
}

#img {
    float:right
}
#nameislam {
    font-style: italic;
    color: red;
    text-shadow: 1px 1px;
    float:right;
    }
.names li::first-letter{
    color: white;
}
.namesam {
    font-weight: bold;
    color: rgb(156, 44, 0);
    text-shadow: 0.5px 0.5px;
    font-family: "Chee Bleed";
    }
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2, h3 {
    border: 5px dashed white;
    color: darkgreen;
    text-align: center;
    width: 250px;
    margin: auto;
    }

#con {
    color: darkmagenta;
    font-family: cursive;
    }

.menu {
    display: inline-flex;
    list-style-type: square;
    border: 5px outset grey;
}

.menu li{
    margin-right: 35px;
    text-align: center;
}
    
.banner {
    background-image: url('logo.png');
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: xx-large;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
selector::pseudo-class {
    property: value;
    }

#deadline {
    color: rgb(238, 28, 28)
}

#grading {
    
}

.st {
    float: right;
    position: static;
    right: 100px;
}
.st2 {
    float: right;
    position: relative;
    right: 100 px;
    top: 25px;
}
.active {
    
}

[href] {text-decoration: none ; font-style: italic; } 
  a:link {color: rgb(2, 167, 2);}
  a:hover {background-color:antiquewhite; color: white;}
  a:visited {color:rgb(33, 12, 218);}
  a:active {color: red;}